:root {
  --fire: #ee6352;
  --cyan: #08b2e3;
  --snow: #efe9f4;
  --forest: #57a773;
  --eggplant: #484d6d;
  --outrunOrange: #ff6c11;
  --outrunRed: #ff3864;
  --outrunCyan: #2de2e6;
  --outrunBlue: #023788;
  --outrunEggplant: #261447;
  --outrunPurple: #541388;
  --outrunDarkPurple: #0d0221;
  --outrunPink: #f6019d;
  --outrunLaserPink: #f706cf;
}

body {
  margin: 0;
  font-family: ui-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left top, var(--outrunDarkPurple), var(--outrunPurple));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
