.LandingPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.Container {
  background-color: var(--outrunDarkPurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 0 1rem 0 var(--outrunPink);
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .Container {
    width: 85%;
  }
}
